.card-body.no-padding {
    padding: 0;
    padding-top: 10px;
}

.no-padding{
	padding: 0 !important;
}

.no-margin{
	margin: 0 !important;
}

.hidden{
	display: none !important;
}

input[type="radio"]:checked+label {
	background: #196ff9 !important;
}